In [2]:
삼성전자 = 50000

총_평가금액 = 삼성전자*10
print(총_평가금액)

500000

In [3]:
시가총액 = 298000000000000
현재가 = 50000
per = 15.79

In [7]:
s = "hello"
t = "python"
print(f"{s}! {t}")
print(s+"!", t)

hello! python
hello! python

In [11]:
print (2+2*3)

8

In [13]:
a="123"
type(a)

str

In [17]:
num_str = 720
int(num_str)

720

In [19]:
num = 100
str(num)

'100'

In [21]:
a = '15.79'
float(a)

15.79

In [23]:
year = "2020"
a=int(year)
print(a, a-1, a-2)

2020 2019 2018

In [24]:
할부금 = 48584
기간 = 36
총금액 = 할부금*기간
print(총금액)

1749024