In [17]:
#035,036,037

In [ ]:
a = "3"
b = "4"
print(a + b)
#34

34

In [4]:
print("Hi" * 3)
#HiHiHi

HiHiHi

In [6]:
print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
t1 = 'python'
t2 = 'java'
print((t1, t2)*4)
t3 = t1+" "+t2+" "
print(t3*4)

('python', 'java', 'python', 'java', 'python', 'java', 'python', 'java')
python java python java python java python java

In [ ]:
#035,036,037
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [19]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(",","")))

5969782550

In [22]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [24]:
data = "   삼성전자    "
print(data.replace(" ",""))
print(data)

삼성전자
   삼성전자